

.follow_container {
    border-radius: 20px;
    max-width: 95%;
    margin-top: 1.5rem;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    font-family: 'Mukta', sans-serif;
    font-weight: 1000;
    box-shadow: 0 0 2px 2px rgb(237, 237, 237);
  }
  
  .follow_text {
    margin-bottom: 1.5rem;
    padding-left: 5px;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px 0;
    /* padding: 10px; */
    /* flex-direction: row; */
  }
  
  .user-container:hover {
    background-color: #ececec;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -25px;
    margin-left: 20px;
  }
  
  .user-info h3,
  .user-info p {
    margin: 0;
    /* align-items: center; */
    /* margin-left: 20px; */
    /* text-align: center; */
  }
  .btn_follow {
    margin-left: auto;
    width: 80px;
    color: #fff;
    height: 40px;
    /* padding: 10px; */
    border-radius: 20px;
    cursor: pointer;
    background-color: #333;
  }
  /* .btn_div{
    margin: 20px auto;
  } */
  
  .btn_show {
    color: #0000ff;
    /* margin-left: 10px; */
  }
  
  .user-info p {
    font-size: 1rem;
    /* text-align: center; */
  }